.navbar {
  background-color: var(--primary-color);
  padding: 1rem 0;
  transition: background-color 0.3s ease-in-out;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--light-text-color);
}

.nav-link {
  color: var(--text-color);
  margin-right: 1.5rem;
  font-weight: bold;
  position: relative;
  transition: color 0.3s;
}

.nav-link:hover,
.nav-link.active {
  color: var(--secondary-color);
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--secondary-color);
  transition: width 0.3s;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}
